[Desktop Entry]
Type=Application
Name=Magpie Window Manager
Exec=magpie-wm
NoDisplay=true
X-GNOME-WMSettingsModule=metacity
X-GNOME-WMName=Magpie
X-GnomeWMSettingsLibrary=metacity
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=true
